.artGroup {
	display:block;
	width:200px;
	height:182px;
	position:relative;
	margin-bottom:30px;
	margin-right:20px;
	float:left;
}
.artwork {
	display:block;
	width:100%;
	height:100%;
}
.artGroup img {
	width:100%;
	height:100%;
	position:absolute;
	display:block;
}
.artGroup .detail {
	display:block;
	width:100%;
	height:100%;
	position:absolute;
	background:#fff;
}
.artGroup .detail p {
	font-size: 12px;
	text-align: left;
}
